<a href="https://colab.research.google.com/github/patels19/NYC-Taxi-Fare1/blob/master/Tech_Fund_Project.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [73]:
!wget https://www.dropbox.com/s/wz35bcpa4ag45vg/train_200000.csv

--2019-04-29 23:24:30--  https://www.dropbox.com/s/wz35bcpa4ag45vg/train_200000.csv
Resolving www.dropbox.com (www.dropbox.com)... 162.125.1.1, 2620:100:6016:1::a27d:101
Connecting to www.dropbox.com (www.dropbox.com)|162.125.1.1|:443... connected.
HTTP request sent, awaiting response... 301 Moved Permanently
Location: /s/raw/wz35bcpa4ag45vg/train_200000.csv [following]
--2019-04-29 23:24:30--  https://www.dropbox.com/s/raw/wz35bcpa4ag45vg/train_200000.csv
Reusing existing connection to www.dropbox.com:443.
HTTP request sent, awaiting response... 302 Found
Location: https://uc13278ba100a27424a1222b1969.dl.dropboxusercontent.com/cd/0/inline/Af_nQ_2y66sr0EV988ICmyxY5phIJ2ncIE5JsGQ_ZXpsP_pIq5KablZoQik7UwW0leC1PXr3YEcAKzg7zNhZvOhSpLxEEwjbixbuAvipjpbkU2RLG6wgAdYqqz_nUS-uio8/file# [following]
--2019-04-29 23:24:31--  https://uc13278ba100a27424a1222b1969.dl.dropboxusercontent.com/cd/0/inline/Af_nQ_2y66sr0EV988ICmyxY5phIJ2ncIE5JsGQ_ZXpsP_pIq5KablZoQik7UwW0leC1PXr3YEcAKzg7zNhZvOhSpLxEEwjbixbuAvipjpbkU2RLG6wgAdYqqz_nUS-uio8/file
Resolving uc13278ba100a27424a1222b1969.dl.dropboxusercontent.com (uc13278ba100a27424a1222b1969.dl.dropboxusercontent.com)... 162.125.1.6, 2620:100:6016:6::a27d:106
Connecting to uc13278ba100a27424a1222b1969.dl.dropboxusercontent.com (uc13278ba100a27424a1222b1969.dl.dropboxusercontent.com)|162.125.1.6|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 21699294 (21M) [text/plain]
Saving to: ‘train_200000.csv.3’

train_200000.csv.3  100%[===================>]  20.69M  74.9MB/s    in 0.3s

2019-04-29 23:24:31 (74.9 MB/s) - ‘train_200000.csv.3’ saved [21699294/21699294]

In [74]:
!wget https://www.dropbox.com/s/wahvvxobusng24z/test.csv?dl=0

--2019-04-29 23:24:32--  https://www.dropbox.com/s/wahvvxobusng24z/test.csv?dl=0
Resolving www.dropbox.com (www.dropbox.com)... 162.125.1.1, 2620:100:6016:1::a27d:101
Connecting to www.dropbox.com (www.dropbox.com)|162.125.1.1|:443... connected.
HTTP request sent, awaiting response... 301 Moved Permanently
Location: /s/raw/wahvvxobusng24z/test.csv [following]
--2019-04-29 23:24:33--  https://www.dropbox.com/s/raw/wahvvxobusng24z/test.csv
Reusing existing connection to www.dropbox.com:443.
HTTP request sent, awaiting response... 302 Found
Location: https://ucdb245697b337d529d3c047b2d2.dl.dropboxusercontent.com/cd/0/inline/Af_rLaa3y2u8nh6ySrrjpRWlrNjnkkibUqik7DMucGggdf2Bl8j8NClpxicIX0tBENqY0SxBi-RYm6fszbytCyudjz8r4UP7V5V8GqD3SJjJj4zj2NxwtDUyahE5EBfKO7s/file# [following]
--2019-04-29 23:24:33--  https://ucdb245697b337d529d3c047b2d2.dl.dropboxusercontent.com/cd/0/inline/Af_rLaa3y2u8nh6ySrrjpRWlrNjnkkibUqik7DMucGggdf2Bl8j8NClpxicIX0tBENqY0SxBi-RYm6fszbytCyudjz8r4UP7V5V8GqD3SJjJj4zj2NxwtDUyahE5EBfKO7s/file
Resolving ucdb245697b337d529d3c047b2d2.dl.dropboxusercontent.com (ucdb245697b337d529d3c047b2d2.dl.dropboxusercontent.com)... 162.125.1.6, 2620:100:6016:6::a27d:106
Connecting to ucdb245697b337d529d3c047b2d2.dl.dropboxusercontent.com (ucdb245697b337d529d3c047b2d2.dl.dropboxusercontent.com)|162.125.1.6|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 983020 (960K) [text/plain]
Saving to: ‘test.csv?dl=0.2’

test.csv?dl=0.2     100%[===================>] 959.98K  --.-KB/s    in 0.08s

2019-04-29 23:24:33 (12.1 MB/s) - ‘test.csv?dl=0.2’ saved [983020/983020]

In [75]:
#Import the data
import pandas as pd
import numpy as np

#Import 
train_df = pd.read_csv("train_200000.csv")


train_df.head()

,key,fare_amount,pickup_datetime,pickup_longitude,pickup_latitude,dropoff_longitude,dropoff_latitude,passenger_count
0,2009-06-15 17:26:21.0000001,4.5,2009-06-15 17:26:21 UTC,-73.844311,40.721319,-73.841610,40.712278,1
1,2010-01-05 16:52:16.0000002,16.9,2010-01-05 16:52:16 UTC,-74.016048,40.711303,-73.979268,40.782004,1
2,2011-08-18 00:35:00.00000049,5.7,2011-08-18 00:35:00 UTC,-73.982738,40.761270,-73.991242,40.750562,2
3,2012-04-21 04:30:42.0000001,7.7,2012-04-21 04:30:42 UTC,-73.987130,40.733143,-73.991567,40.758092,1
4,2010-03-09 07:51:00.000000135,5.3,2010-03-09 07:51:00 UTC,-73.968095,40.768008,-73.956655,40.783762,1

In [89]:
from google.colab import files
uploaded = files.upload()

Saving test.csv to test (1).csv

In [90]:
import io
test_df = pd.read_csv(io.BytesIO(uploaded['test.csv']))
test_df.head()
# Dataset is now stored in a Pandas Dataframe

,key,pickup_datetime,pickup_longitude,pickup_latitude,dropoff_longitude,dropoff_latitude,passenger_count
0,2015-01-27 13:08:24.0000002,2015-01-27 13:08:24 UTC,-73.973320,40.763805,-73.981430,40.743835,1
1,2015-01-27 13:08:24.0000003,2015-01-27 13:08:24 UTC,-73.986862,40.719383,-73.998886,40.739201,1
2,2011-10-08 11:53:44.0000002,2011-10-08 11:53:44 UTC,-73.982524,40.751260,-73.979654,40.746139,1
3,2012-12-01 21:12:12.0000002,2012-12-01 21:12:12 UTC,-73.981160,40.767807,-73.990448,40.751635,1
4,2012-12-01 21:12:12.0000003,2012-12-01 21:12:12 UTC,-73.966046,40.789775,-73.988565,40.744427,1

In [87]:
train_df.drop(train_df.loc[train_df['fare_amount'] < 2.50].index, inplace=True)
print(len(train_df)) #removing prices below 2.50
train_df.drop(train_df.loc[train_df['fare_amount'] > 80].index, inplace=True)
print(len(train_df)) #removing prices above 80

199977
199776

In [92]:
#drop all NaNs
train_df = train_df.dropna(how = 'any', axis = 'rows')
print(len(train_df))

199776

In [104]:
#Puts parameters for the longitude and latitude for the pickup and dropff
train_df.loc[train_df['pickup_latitude'].between(40, 42)]
train_df.loc[train_df['pickup_longitude'].between(-75, -72)]
train_df.loc[train_df['dropoff_latitude'].between(40, 42)]
train_df.loc[train_df['dropoff_longitude'].between(-75, -72)]

print(len(train_df))

199776

In [0]:
# Radius of the earth in kilometers
R = 6378

def haversine_np(lon1, lat1, lon2, lat2):
    """
    Calculate the great circle distance between two points
    on the earth (specified in decimal degrees)

    All args must be of equal length.    
    
    source: https://stackoverflow.com/a/29546836

    """
    # Convert latitude and longitude to radians
    lon1, lat1, lon2, lat2 = map(np.radians, [lon1, lat1, lon2, lat2])

    # Find the differences
    dlon = lon2 - lon1
    dlat = lat2 - lat1

    # Apply the formula 
    a = np.sin(dlat/2.0)**2 + np.cos(lat1) * np.cos(lat2) * np.sin(dlon/2.0)**2
    # Calculate the angle (in radians)
    c = 2 * np.arcsin(np.sqrt(a))
    # Convert to kilometers
    km = R * c
    km=round(km, 4)
    
    return km

In [96]:
train_df['haversine'] =  haversine_np(train_df['pickup_longitude'], train_df['pickup_latitude'],
                         train_df['dropoff_longitude'], train_df['dropoff_latitude']) 

test_df['haversine'] = haversine_np(test_df['pickup_longitude'], test_df['pickup_latitude'],
                         test_df['dropoff_longitude'], test_df['dropoff_latitude'])


#drop all NaNs
train_df = train_df.dropna(how = 'any', axis = 'rows')
train_df.replace([np.inf, -np.inf], np.nan).dropna(subset=['haversine'], how="all")
train_df.head()

,key,fare_amount,pickup_datetime,pickup_longitude,pickup_latitude,dropoff_longitude,dropoff_latitude,passenger_count,haversine,abs_lat_diff,abs_lon_diff
0,2009-06-15 17:26:21.0000001,4.5,2009-06-15 17:26:21 UTC,-73.844311,40.721319,-73.841610,40.712278,1,1.0319,0.009041,0.002701
1,2010-01-05 16:52:16.0000002,16.9,2010-01-05 16:52:16 UTC,-74.016048,40.711303,-73.979268,40.782004,1,8.4594,0.070701,0.036780
2,2011-08-18 00:35:00.00000049,5.7,2011-08-18 00:35:00 UTC,-73.982738,40.761270,-73.991242,40.750562,2,1.3911,0.010708,0.008504
3,2012-04-21 04:30:42.0000001,7.7,2012-04-21 04:30:42 UTC,-73.987130,40.733143,-73.991567,40.758092,1,2.8023,0.024949,0.004437
4,2010-03-09 07:51:00.000000135,5.3,2010-03-09 07:51:00 UTC,-73.968095,40.768008,-73.956655,40.783762,1,2.0014,0.015754,0.011440

In [97]:
# Create absolute differences
train_df['abs_lat_diff'] = (train_df['dropoff_latitude'] - train_df['pickup_latitude']).abs() #getting the absolute lateral difference
train_df['abs_lon_diff'] = (train_df['dropoff_longitude'] - train_df['pickup_longitude']).abs() #getting the absolute linear difference
train_df.describe()

,fare_amount,pickup_longitude,pickup_latitude,dropoff_longitude,dropoff_latitude,passenger_count,haversine,abs_lat_diff,abs_lon_diff
count,199776.000000,199776.000000,199776.000000,199776.000000,199776.000000,199776.000000,199776.000000,199776.000000,199776.000000
mean,11.243670,-72.510455,39.924660,-72.524080,39.928516,1.682645,18.714871,0.124274,0.176116
std,9.207312,11.596371,10.048193,10.706772,6.743600,1.306928,358.470269,9.822599,8.342009
min,2.500000,-736.550000,-3116.285383,-1251.195890,-1189.615440,0.000000,0.000000,0.000000,0.000000
25%,6.000000,-73.992051,40.735023,-73.991287,40.734120,1.000000,1.217000,0.006601,0.005797
50%,8.500000,-73.981753,40.752762,-73.980068,40.753240,1.000000,2.119550,0.013855,0.012471
75%,12.500000,-73.967095,40.767122,-73.963529,40.768063,2.000000,3.871400,0.026813,0.023758
max,80.000000,2140.601160,1703.092772,40.851027,404.616667,6.000000,8690.492500,3157.073381,3391.797050

In [129]:
#Fare Amount for train

x_train = train_df.iloc[:,train_df.columns!='fare_amount']
y_train = train_df['fare_amount'].values

#x_train.shape
lr = LinearRegression()

lr.fit(x_train[['passenger_count','abs_lat_diff','abs_lon_diff']], y_train)

print('Intercept', round(lr.intercept_, 4))
print('abs_lat_diff coef: ', round(lr.coef_[0], 4), 
      '\tabs_lon_diff coef:', round(lr.coef_[1], 4),
      '\tpassenger_count coef:', round(lr.coef_[2], 4))

Intercept 11.041
abs_lat_diff coef:  0.1196 	abs_lon_diff coef: 0.0017 	passenger_count coef: 0.0071

In [0]:
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split

X_train, X_valid, y_train, y_valid = train_test_split(train_df, np.array(train_df['fare_amount']),random_state = 0, test_size = 15_000)

In [131]:
lr = LinearRegression()
features = ['abs_lat_diff', 'abs_lon_diff', 'haversine', 'passenger_count',
            'pickup_latitude', 'pickup_longitude', 
            'dropoff_latitude', 'dropoff_longitude']
# Fit and evaluate
lr.fit(X_train[features], y_train)
evaluate(lr, features, X_train, X_valid, y_train, y_valid)

ValueError: ignored

In [118]:
from sklearn.metrics import mean_squared_error
import warnings
warnings.filterwarnings('ignore', category = RuntimeWarning)

def metrics(train_pred, valid_pred, y_train, y_valid):
    """Calculate metrics:
       Root mean squared error and mean absolute percentage error"""
    
    # Root mean squared error
    train_rmse = np.sqrt(mean_squared_error(y_train, train_pred))
    valid_rmse = np.sqrt(mean_squared_error(y_valid, valid_pred))
    
    # Calculate absolute percentage error
    train_ape = abs((y_train - train_pred) / y_train)
    valid_ape = abs((y_valid - valid_pred) / y_valid)
    
    # Account for y values of 0
    train_ape[train_ape == np.inf] = 0
    train_ape[train_ape == -np.inf] = 0
    valid_ape[valid_ape == np.inf] = 0
    valid_ape[valid_ape == -np.inf] = 0
    
    train_mape = 100 * np.mean(train_ape)
    valid_mape = 100 * np.mean(valid_ape)
    
    return train_rmse, valid_rmse, train_mape, valid_mape

def evaluate(model, features, X_train, X_valid, y_train, y_valid):
    """Mean absolute percentage error"""
    
    # Make predictions
    train_pred = model.predict(X_train[features])
    valid_pred = model.predict(X_valid[features])
    
    # Get metrics
    train_rmse, valid_rmse, train_mape, valid_mape = metrics(train_pred, valid_pred,
                                                             y_train, y_valid)
    
    print(f'Training:   rmse = {round(train_rmse, 2)} \t mape = {round(train_mape, 2)}')
    print(f'Validation: rmse = {round(valid_rmse, 2)} \t mape = {round(valid_mape, 2)}')

evaluate(lr, ['abs_lat_diff', 'abs_lon_diff', 'passenger_count'], 
        X_train, X_valid, y_train, y_valid)

Training:   rmse = 9.29 	 mape = 63.1
Validation: rmse = 9.08 	 mape = 62.92

In [119]:
train_mean = y_train.mean()

# Create list of the same prediction for every observation
train_preds = [train_mean for _ in range(len(y_train))]
valid_preds = [train_mean for _ in range(len(y_valid))]

tr, vr, tm, vm = metrics(train_preds, valid_preds, y_train, y_valid)

print(f'Baseline Training:   rmse = {round(tr, 2)} \t mape = {round(tm, 2)}')
print(f'Baseline Validation: rmse = {round(vr, 2)} \t mape = {round(vm, 2)}')

Baseline Training:   rmse = 9.22 	 mape = 64.72
Baseline Validation: rmse = 9.08 	 mape = 64.53

In [128]:
#Model 2

#RandomForestRegressorModel
from sklearn.ensemble import RandomForestRegressor
rf = RandomForestRegressor(n_estimators = 20, max_depth = 20, 
                                      max_features = None, oob_score = True, 
                                      bootstrap = True, verbose = 1, n_jobs = -1)

rf.fit(x_train[['haversine','passenger_count']], y_train)
rv_valid = rf.predict(X_valid[['haversine','passenger_count']])

[Parallel(n_jobs=-1)]: Using backend ThreadingBackend with 2 concurrent workers.
[Parallel(n_jobs=-1)]: Done  20 out of  20 | elapsed:    4.7s finished
/usr/local/lib/python3.6/dist-packages/sklearn/ensemble/forest.py:732: UserWarning: Some inputs do not have OOB scores. This probably means too few trees were used to compute any reliable oob estimates.
  warn("Some inputs do not have OOB scores. "
[Parallel(n_jobs=2)]: Using backend ThreadingBackend with 2 concurrent workers.
[Parallel(n_jobs=2)]: Done  20 out of  20 | elapsed:    0.1s finished

In [127]:
evaluate(rf, ['haversine', 'passenger_count'],X_train, X_valid, y_train, y_valid)

ValueError: ignored

In [0]:
lr = LinearRegression()

# Fit and evaluate
lr.fit(X_train[features], y_train)
evaluate(lr, features, X_train, X_valid, y_train, y_valid)